@font-face {
  font-family: Arial;
  font-display: swap;
  src: url(../fonts/Arial-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Arial;
  font-display: swap;
  src: url(../fonts/Arial-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic
}
@font-face {
  font-family: Arial;
  font-display: swap;
  src: url(../fonts/Arial-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Prata;
  font-display: swap;
  src: url(../fonts/Prata-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Arial;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Arial;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #e1b5f7
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 101.25rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,99.375rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.form {
  display: flex;
  flex-direction: column
}
.form__line:not(:last-child) {
  -webkit-margin-after: .8125rem;
  margin-block-end: .8125rem
}
.form__line:nth-child(2) {
  -webkit-margin-after: 1.625rem;
  margin-block-end: 1.625rem
}
.form__checkbox:not(:last-child) {
  -webkit-margin-after: 1.625rem;
  margin-block-end: 1.625rem
}
.form__button {
  inline-size: 100%
}
.button {
  display: inline-flex;
  padding: 29px 50px;
  border-radius: .25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: .06rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #222;
  border: .0625rem solid #c286e4;
  background-color: #fff
}
.button--ftr {
  padding-inline: 3.25rem;
  padding-block: 1.6875rem;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: normal
}
.button--form {
  border: .0625rem solid #71239f;
  background-color: #71239f;
  color: #fff
}
.button--fw {
  width: 100%
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: .25rem;
  width: 100%;
  display: block;
  padding: 13.877px 20.815px 13.877px 38.161px;
  border: 2px solid #d6d6d6;
  caret-color: inherit
}
.input._form-focus {
  border-color: #71239f
}
.input[placeholder] {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #55565a
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
textarea.input {
  resize: none;
  padding: 0 0
}
.checkbox {
  position: relative
}
.checkbox:not(:last-child) {
  margin-bottom: em(5)
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0
}
.checkbox__input:focus-visible+.checkbox__label:before {
  box-shadow: 0 0 5px #000
}
.checkbox__input:checked+.checkbox__label:before {
  background: #71239f
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  gap: 16px
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  border-radius: .25rem;
  border: 2px solid #55565a
}
.checkbox__text {
  font-size: 1.1875rem;
  color: #55565a;
  align-self: center
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: .3125rem;
  align-items: center;
  justify-content: flex-end;
  -webkit-column-gap: 1.8125rem;
  -moz-column-gap: 1.8125rem;
  column-gap: 1.8125rem
}
.menu__link {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.5;
  text-transform: uppercase
}
._header-show .menu__link,
.menu-open .menu__link {
  color: #000
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-family: Prata,serif;
  line-height: 1.2
}
.title--middle {
  color: #38535d;
  line-height: 1.1
}
.item-hero {
  display: flex;
  -webkit-column-gap: 1.0625rem;
  -moz-column-gap: 1.0625rem;
  column-gap: 1.0625rem
}
.item-hero__icon {
  inline-size: 2.4375rem;
  flex: 0 0 2.4375rem;
  aspect-ratio: 39/37;
  display: flex
}
.item-hero__image {
  font-size: 2.25rem;
  aspect-ratio: 39/37;
  -o-object-fit: contain;
  object-fit: contain
}
.item-hero__text {
  font-size: 1.5rem;
  line-height: 1.1;
  text-transform: lowercase;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center
}
.item-hero__text span {
  font-family: Prata,sans-serif;
  line-height: 1.5;
  letter-spacing: .1rem;
  text-transform: uppercase;
  -webkit-margin-start: .4375rem;
  margin-inline-start: .4375rem;
  -webkit-margin-end: 1.0625rem;
  margin-inline-end: 1.0625rem
}
.item-description {
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  align-items: start
}
.item-description__icon {
  inline-size: 3.625rem;
  flex: 0 0 3.625rem;
  aspect-ratio: 58/47;
  color: #71239f
}
.item-description__text {
  font-size: 1.5rem;
  line-height: 1.4;
  -webkit-margin-before: -.375rem;
  margin-block-start: -.375rem
}
.item-footer__link {
  color: #71239f;
  line-height: 1.5
}
.header {
  position: fixed;
  inline-size: 100%;
  z-index: 4;
  padding-block: 1.875rem
}
.header._header-scroll {
  position: fixed;
  inset-block-start: -200%
}
.header._header-show {
  transition: inset-block-start .3s ease 0s;
  inset-block-start: 0;
  padding-block: .9375rem;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.4)
}
.header__container {
  display: flex;
  align-items: center;
  -webkit-column-gap: 6.25rem;
  -moz-column-gap: 6.25rem;
  column-gap: 6.25rem
}
.header__logo {
  inline-size: 16rem;
  flex: 0 0 16rem;
  aspect-ratio: 256/58;
  position: relative;
  z-index: 5
}
.header__logo img {
  inline-size: 100%;
  aspect-ratio: 256/58
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #efe5f4
}
.footer-menu {
  justify-content: center;
  padding-block: 2.4375rem;
  -webkit-border-before: .125rem solid #71239f;
  border-block-start: .125rem solid #71239f
}
.footer-menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: .3125rem;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem
}
.footer-menu__link {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.5;
  text-transform: uppercase
}
.main-footer {
  padding-block: 3.28125rem;
  -webkit-border-before: .125rem solid #71239f;
  border-block-start: .125rem solid #71239f
}
.middle-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  flex-wrap: wrap;
  row-gap: .9375rem
}
.middle-footer:not(:last-child) {
  -webkit-margin-after: 2.375rem;
  margin-block-end: 2.375rem
}
.middle-footer__logo {
  inline-size: 16rem;
  flex: 0 0 16rem;
  aspect-ratio: 256/58
}
.middle-footer__logo img {
  inline-size: 100%;
  aspect-ratio: 256/58
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: .3125rem;
  align-items: center;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem
}
.social__item {
  inline-size: 2rem;
  flex: 0 0 2rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center
}
.social__link {
  inline-size: 2rem;
  flex: 0 0 2rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center
}
.social__icon {
  inline-size: 2rem;
  flex: 0 0 2rem;
  aspect-ratio: 1;
  color: #71239f
}
.bottom-footer__box {
  display: flex;
  flex-wrap: wrap;
  row-gap: .625rem;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  font-size: 20px
}
.bottom-footer__copyright {
  line-height: 1.5
}
.hero {
  background-color: #efe5f4;
  position: relative;
  overflow: hidden
}
.hero__inner {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,99.375rem) 1fr .9375rem
}
.hero__inner>* {
  min-width: 0;
  grid-column: 3/6
}
.hero__body {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem
}
.hero__content {
  -webkit-padding-before: 20.75rem;
  padding-block-start: 20.75rem;
  -webkit-padding-after: 3.125rem;
  padding-block-end: 3.125rem;
  position: relative;
  z-index: 2;
  max-inline-size: 33.5625rem;
  line-height: 1.2
}
.hero__sub-title {
  text-transform: lowercase
}
.hero__sub-title:not(:last-child) {
  -webkit-margin-after: 4rem;
  margin-block-end: 4rem
}
.hero__items {
  display: flex;
  flex-direction: column;
  row-gap: 2.1875rem
}
.hero__items:not(:last-child) {
  -webkit-margin-after: 2.5rem;
  margin-block-end: 2.5rem
}
.hero__picture {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: 47.6875rem;
  block-size: 100%
}
.hero__image {
  aspect-ratio: 763/1009
}
.description {
  background-color: #e1b5f7
}
.description__wrapper {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem
}
.description__picture-left {
  flex: 0 1 38.875rem
}
.description__content {
  flex: 0 1 38.375rem;
  align-self: end;
  -webkit-padding-before: 3.375rem;
  padding-block-start: 3.375rem
}
.description__list {
  display: flex;
  flex-direction: column
}
.description__list:not(:last-child) {
  -webkit-margin-after: 5rem;
  margin-block-end: 5rem
}
.description__item {
  padding-block: 2.5rem;
  border-block: .0625rem solid #71239f
}
.description__item:first-child {
  -webkit-padding-before: 0;
  padding-block-start: 0;
  -webkit-border-before: .0625rem solid transparent;
  border-block-start: .0625rem solid transparent
}
.description__item:last-child {
  -webkit-padding-after: 0;
  padding-block-end: 0;
  -webkit-border-after: .0625rem solid transparent;
  border-block-end: .0625rem solid transparent
}
.description__button {
  inline-size: 100%
}
.description__picture-right {
  flex: 0 1 36.8125rem
}
.contacts {
  background-color: #e1b5f7;
  padding-block: 6.25rem;
  overflow: hidden;
  position: relative
}
.contacts::after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 6.25rem;
  background-color: #e1b5f7
}
.contacts__container {
  position: relative;
  display: flex
}
.contacts__wrapper {
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  border-radius: 1.875rem;
  overflow: hidden
}
.contacts__content {
  flex: 0 1 57.421384%;
  padding: 4.5rem 2.5rem 4.5rem 8.375rem
}
.contacts__title:not(:last-child) {
  -webkit-margin-after: 2.8125rem;
  margin-block-end: 2.8125rem
}
.contacts__image-bg {
  inline-size: 38.8125rem;
  flex: 0 0 38.8125rem;
  aspect-ratio: 621/628
}
.contacts__image {
  aspect-ratio: 621/628
}
.contacts__image-person {
  position: absolute;
  inset-inline-end: 5.6875rem;
  inset-block-start: -8.0625rem;
  inline-size: 37.5rem;
  flex: 0 1 37.5rem;
  aspect-ratio: 600/903
}
.contacts__image-person img {
  -o-object-fit: contain;
  object-fit: contain;
  aspect-ratio: 600/903
}
@media (min-width:47.99875em) {
  .contacts__wrapper {
    border: .125rem solid #c286e4
  }
}
@media (min-width:61.99875em) {
  .main-footer {
    -webkit-padding-end: 1.375rem;
    padding-inline-end: 1.375rem
  }
}
@media (min-width:101.25em) {
  .title {
    font-size: 5rem
  }
  .title--middle {
    font-size: 3.375rem
  }
  .item-hero__text span {
    font-size: 2.5rem
  }
  .item-description__text {
    font-size: 1.5rem
  }
  .hero__title:not(:last-child) {
    -webkit-margin-after: 3.125rem;
    margin-block-end: 3.125rem
  }
  .hero__sub-title {
    font-size: 3.125rem
  }
  .description {
    -webkit-padding-before: 6.25rem;
    padding-block-start: 6.25rem
  }
}
@media (max-width:20em) {
  .title {
    font-size: 2.5rem
  }
  .title--middle {
    font-size: 1.875rem
  }
  .item-hero__text span {
    font-size: 1.125rem
  }
  .item-description__text {
    font-size: 1rem
  }
  .hero__title:not(:last-child) {
    -webkit-margin-after: 1.25rem;
    margin-block-end: 1.25rem
  }
  .hero__sub-title {
    font-size: 1.75rem
  }
  .description {
    -webkit-padding-before: 2.5rem;
    padding-block-start: 2.5rem
  }
}
@media (max-width:97.5em) {
  .contacts__content {
    -webkit-padding-start: 2.5rem;
    padding-inline-start: 2.5rem
  }
}
@media (max-width:78.75em) {
  .menu__link {
    color: #fff
  }
  .hero {
    color: #fff
  }
  .hero::before {
    position: absolute;
    z-index: 1;
    content: "";
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(0,0,0,.5)
  }
  .hero__content {
    -webkit-padding-before: 17.5rem;
    padding-block-start: 17.5rem
  }
  .hero__picture {
    inline-size: 100%
  }
  .description__picture-left {
    display: none
  }
  .description__content {
    -webkit-padding-start: .9375rem;
    padding-inline-start: .9375rem
  }
}
@media (max-width:68.75em) {
  .button--form {
    padding-block: .9375rem;
    font-size: 1.375rem
  }
  .input[placeholder] {
    font-size: 1.25rem;
    padding-block: .5rem;
    padding-inline: 1.125rem
  }
  .checkbox__label:before {
    flex: 0 0 20px;
    width: 20px;
    height: 20px
  }
  .checkbox__text {
    font-size: 1rem
  }
  .contacts__wrapper {
    flex-wrap: wrap
  }
  .contacts__content {
    padding-block: 3.125rem;
    position: relative;
    z-index: 2
  }
  .contacts__title:not(:last-child) {
    -webkit-margin-after: 2.1875rem;
    margin-block-end: 2.1875rem
  }
  .contacts__image-bg {
    display: none
  }
  .contacts__image-person {
    inset-inline-end: -3.125rem
  }
}
@media (max-width:61.99875em) {
  .button {
    padding: 1.5625rem 2.8125rem;
    font-size: 1.375rem
  }
  .item-hero__text {
    font-size: 1.375rem
  }
  .header__container {
    -webkit-column-gap: 3.75rem;
    -moz-column-gap: 3.75rem;
    column-gap: 3.75rem
  }
  .footer-menu {
    padding-block: 1.875rem
  }
  .footer-menu__list {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .main-footer {
    padding-block: 1.875rem
  }
  .middle-footer:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .social__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .bottom-footer__box {
    font-size: 1.125rem
  }
  .hero__content {
    -webkit-padding-before: 12.5rem;
    padding-block-start: 12.5rem
  }
  .hero__sub-title:not(:last-child) {
    -webkit-margin-after: 3.125rem;
    margin-block-end: 3.125rem
  }
  .hero__items {
    row-gap: 1.875rem
  }
  .description__wrapper {
    flex-direction: column;
    row-gap: 2.5rem
  }
  .description__content {
    -webkit-padding-end: .9375rem;
    padding-inline-end: .9375rem
  }
  .description__list:not(:last-child) {
    -webkit-margin-after: 3.75rem;
    margin-block-end: 3.75rem
  }
  .description__picture-right {
    flex: 100%;
    aspect-ratio: 1
  }
  .picture-right__image {
    aspect-ratio: 1
  }
  .contacts {
    padding-block: 5rem
  }
  .contacts::after {
    block-size: 5rem
  }
}
@media (max-width:47.99875em) {
  .button {
    padding: 1.25rem 2.5rem;
    font-size: 1.25rem
  }
  .button--ftr {
    padding-block: 1.25rem;
    padding-inline: 1.875rem
  }
  .input[placeholder] {
    color: #000
  }
  .input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
    color: #fff
  }
  .input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
    color: #fff
  }
  .input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
    color: #fff
  }
  .input[placeholder]:not([data-placeholder-nohiden])::placeholder {
    color: #fff
  }
  .checkbox__label:before {
    border-color: #fff
  }
  .checkbox__text {
    color: #fff
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: calc(var(--header-height) + 1.25rem) .9375rem 1.875rem .9375rem;
    transition: left .3s;
    background-color: #fff
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: calc(var(--header-height) - .625rem);
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 5;
    background-color: #d9c2e5
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: .625rem
  }
  .menu__link {
    font-size: 1.375rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #71239f
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .item-hero__icon {
    inline-size: 2rem;
    flex: 0 0 2rem;
    aspect-ratio: 32/30
  }
  .item-hero__image {
    font-size: 1.875rem;
    aspect-ratio: 32/30
  }
  .item-hero__text {
    font-size: 1.25rem
  }
  .item-hero__text span {
    -webkit-margin-end: .4375rem;
    margin-inline-end: .4375rem
  }
  .item-description__icon {
    inline-size: 3.125rem;
    flex: 0 0 3.125rem;
    aspect-ratio: 50/39
  }
  .header {
    background-color: #d9c2e5;
    box-shadow: 0 0 15px rgba(0,0,0,.4);
    padding-block: .9375rem
  }
  .header {
    padding-block: .9375rem
  }
  .header__container {
    justify-content: space-between
  }
  .header__logo {
    inline-size: 4.75rem;
    flex: 0 0 4.75rem;
    aspect-ratio: 76/38
  }
  .header__logo img {
    aspect-ratio: 76/38
  }
  .footer-menu {
    padding-block: 1.25rem
  }
  .footer-menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .footer-menu__link {
    font-size: 1rem
  }
  .main-footer {
    padding-block: 1.25rem
  }
  .middle-footer {
    flex-direction: column
  }
  .middle-footer:not(:last-child) {
    -webkit-margin-after: 1.25rem;
    margin-block-end: 1.25rem
  }
  .middle-footer__logo {
    flex: 100%
  }
  .social__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .bottom-footer__box {
    font-size: 1rem
  }
  .hero__content {
    max-inline-size: 100%;
    -webkit-padding-before: 7.5rem;
    padding-block-start: 7.5rem
  }
  .hero__sub-title:not(:last-child) {
    -webkit-margin-after: 2.5rem;
    margin-block-end: 2.5rem
  }
  .hero__items {
    row-gap: 1.625rem
  }
  .description__content {
    -webkit-padding-before: 2.5rem;
    padding-block-start: 2.5rem
  }
  .description__list:not(:last-child) {
    -webkit-margin-after: 2.5rem;
    margin-block-end: 2.5rem
  }
  .description__item {
    padding-block: 1.875rem
  }
  .contacts {
    padding-block: 4.375rem
  }
  .contacts::after {
    block-size: 4.375rem
  }
  .contacts__container {
    margin-inline: -1.125rem
  }
  .contacts__wrapper {
    border-radius: 0
  }
  .contacts__wrapper::before {
    position: absolute;
    z-index: 1;
    content: "";
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(0,0,0,.5)
  }
  .contacts__content {
    -webkit-padding-before: 11.25rem;
    padding-block-start: 11.25rem;
    flex: 100%;
    padding-inline: 1.5625rem
  }
  .contacts__title {
    color: #fff
  }
  .contacts__image-person {
    inset-block-start: -3.125rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .button {
    padding: 1rem 2rem;
    font-size: 1.125rem
  }
  .item-hero__text {
    font-size: 1rem
  }
  .item-description__icon {
    inline-size: 2.75rem;
    flex: 0 0 2.75rem;
    aspect-ratio: 44/33
  }
  .footer-menu__list {
    flex-direction: column
  }
  .main-footer {
    padding-block: .9375rem
  }
  .bottom-footer__box {
    flex-direction: column;
    align-items: center
  }
  .hero__items {
    row-gap: 1.25rem
  }
  .description__content {
    -webkit-padding-before: 1.25rem;
    padding-block-start: 1.25rem
  }
  .contacts {
    padding-block: 2.5rem
  }
  .contacts::after {
    block-size: 2.5rem
  }
  .contacts__content {
    padding-inline: .9375rem
  }
}
@media (min-width:20em)and (max-width:101.25em) {
  .title {
    font-size: clamp(2.5rem ,1.8846153846rem + 3.0769230769vw ,5rem)
  }
  .title--middle {
    font-size: clamp(1.875rem ,1.5057692308rem + 1.8461538462vw ,3.375rem)
  }
  .item-hero__text span {
    font-size: clamp(1.125rem ,.7865384615rem + 1.6923076923vw ,2.5rem)
  }
  .item-description__text {
    font-size: clamp(1rem ,.8769230769rem + .6153846154vw ,1.5rem)
  }
  .hero__title:not(:last-child) {
    -webkit-margin-after: clamp(1.25rem ,.7884615385rem + 2.3076923077vw ,3.125rem);
    margin-block-end: clamp(1.25rem ,.7884615385rem + 2.3076923077vw ,3.125rem)
  }
  .hero__sub-title {
    font-size: clamp(1.75rem ,1.4115384615rem + 1.6923076923vw ,3.125rem)
  }
  .description {
    -webkit-padding-before: clamp(2.5rem ,1.5769230769rem + 4.6153846154vw ,6.25rem);
    padding-block-start: clamp(2.5rem ,1.5769230769rem + 4.6153846154vw ,6.25rem)
  }
}
@media (min-width:78.8125em)and (max-width:96.25em) {
  .header {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.4)
  }
}
@media (any-hover:hover) {
  .button:hover {
    border-color: #71239f;
    color: #fff;
    background-color: #c286e4;
    transition: all ease-in .4s 0s
  }
  .button--ftr:hover {
    border-color: #71239f
  }
  .button--form:hover {
    border-color: #71239f;
    background-color: #c286e4;
    transition: all ease-in .4s 0s
  }
  .menu__item:hover .menu__link {
    color: #71239f;
    text-decoration: underline
  }
  .item-footer:hover .item-footer__link {
    color: #c286e4;
    transition: color ease-in .4s 0s
  }
  .footer-menu__item:hover .footer-menu__link {
    color: #71239f;
    text-decoration: underline
  }
  .social__item:hover .social__icon {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #c286e4;
    transition: all ease-in .3s 0s
  }
}