// Заголовки, загальні БЕМ блоки та інше...

//=== Item-hero
.item-hero {
  display: flex;
  column-gap: toRem(17);

  // .item-hero__icon
  &__icon {
    inline-size: toRem(39);
    flex: 0 0 toRem(39);
    aspect-ratio: 39 / 37;
    display: flex;

    @media (max-width:$mobile) {
      inline-size: toRem(32);
      flex: 0 0 toRem(32);
      aspect-ratio: 32 / 30;
    }
  }

  // .item-hero__image
  &__image {
    font-size: toRem(36);
    aspect-ratio: 39 / 37;
    object-fit: contain;

    @media (max-width:$mobile) {
      font-size: toRem(30);
      aspect-ratio: 32 / 30;
    }
  }

  // .item-hero__text
  &__text {
    font-size: toRem(24);
    line-height: 1.1;
    text-transform: lowercase;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width:$tablet) {
      font-size: toRem(22);
    }

    @media (max-width:$mobile) {
      font-size: toRem(20);
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(16);
    }

    /* 26.4/24 */
    span {
      font-family: "Prata", sans-serif;
      line-height: 1.5;
      /* 60/40 */
      letter-spacing: toRem(1.6);
      text-transform: uppercase;
      margin-inline-start: toRem(7);
      margin-inline-end: toRem(17);
      @include adaptiveValue("font-size", 40, 18);

      @media (max-width:$mobile) {
        // margin-inline-start: toRem(7);
        margin-inline-end: toRem(7);
      }
    }
  }
}

//=== Item-description
.item-description {
  display: flex;
  column-gap: toRem(20);
  align-items: start;

  // .item-description__icon
  &__icon {
    inline-size: toRem(58);
    flex: 0 0 toRem(58);
    aspect-ratio: 58 / 47;
    color: $primaryColor;

    @media (max-width:$mobile) {
      inline-size: toRem(50);
      flex: 0 0 toRem(50);
      aspect-ratio: 50 / 39;
    }

    @media (max-width:$mobileSmall) {
      inline-size: toRem(44);
      flex: 0 0 toRem(44);
      aspect-ratio: 44 / 33;
    }
  }

  // .item-description__text
  &__text {
    font-size: toRem(24);
    line-height: 1.4;
    /* 33.6/24 */
    margin-block-start: toRem(-6);
    @include adaptiveValue("font-size", 24, 16);
  }
}

//=== Item-footer
.item-footer {
  @media (any-hover: hover) {
    &:hover {
      .item-footer__link {
        color: $lightPrimaryColor;
        transition: color ease-in 0.4s 0s;
      }
    }
  }

  // .item-footer__link
  &__link {
    color: $primaryColor;
    line-height: 1.5;
    /* 30/20 */
  }
}