//====================================================================================================
.footer {
  display: flex;
  flex-direction: column;
  background-color: #efe5f4;

  // .footer__menu
  &__menu {}

  // .footer__main
  &__main {}
}

//====================================================================================================
.footer-menu {
  justify-content: center;
  padding-block: toRem(39);
  border-block-start: toRem(2) solid $primaryColor;

  @media (max-width:$tablet) {
    padding-block: toRem(30);
  }

  @media (max-width:$mobile) {
    padding-block: toRem(20);
  }


  // .footer-menu__body
  &__body {}

  // .footer-menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(5);
    align-items: center;
    justify-content: center;
    column-gap: toRem(60);

    @media (max-width:$tablet) {
      column-gap: toRem(40);
    }

    @media (max-width:$mobile) {
      column-gap: toRem(20);
    }

    @media (max-width:$mobileSmall) {
      flex-direction: column;
    }
  }

  // .footer-

  &__item {
    @media (any-hover: hover) {
      &:hover {
        .footer-menu__link {
          color: $primaryColor;
          text-decoration: underline;
        }
      }
    }
  }

  // .footer-menu__link
  &__link {
    font-size: toRem(20);
    font-style: italic;
    line-height: 1.5;
    /* 24/16 */
    text-transform: uppercase;

    @media (max-width:$mobile) {
      font-size: toRem(16);
    }
  }
}

.main-footer {
  padding-block: toRem(52.5);
  border-block-start: toRem(2) solid $primaryColor;

  @media (max-width:$tablet) {
    padding-block: toRem(30);
  }

  @media (max-width:$mobile) {
    padding-block: toRem(20);
  }

  @media (max-width:$mobileSmall) {
    padding-block: toRem(15);
  }

  @media (min-width:$tablet) {
    padding-inline-end: toRem(22);
  }

  // .main-footer__middle
  &__middle {}

  // .main-footer__bottom
  &__bottom {}
}

.middle-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: toRem(40);
  flex-wrap: wrap;
  row-gap: toRem(15);

  &:not(:last-child) {
    margin-block-end: toRem(38);
  }

  @media (max-width:$tablet) {
    &:not(:last-child) {
      margin-block-end: toRem(30);
    }
  }

  @media (max-width:$mobile) {
    flex-direction: column;

    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }

  // .middle-footer__logo
  &__logo {
    inline-size: toRem(256);
    flex: 0 0 toRem(256);
    aspect-ratio: 256 / 58;

    @media (max-width:$mobile) {
      flex: 100%;
    }

    img {
      inline-size: 100%;
      aspect-ratio: 256 / 58;
    }
  }

  // .middle-footer__social
  &__social {}

  // .middle-footer__button
  &__button {}
}

.social {

  // .social__box
  &__box {}

  // .social__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(5);
    align-items: center;
    column-gap: toRem(32);

    @media (max-width:$tablet) {
      column-gap: toRem(20);
    }

    @media (max-width:$mobile) {
      column-gap: toRem(15);
    }
  }

  // .social__item
  &__item {
    inline-size: toRem(32);
    flex: 0 0 toRem(32);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (any-hover: hover) {
      &:hover {
        .social__icon {
          transform: scale(1.1);
          color: $lightPrimaryColor;
          transition: all ease-in 0.3s 0s;
        }
      }
    }
  }

  // .social__link
  &__link {
    inline-size: toRem(32);
    flex: 0 0 toRem(32);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .social__icon
  &__icon {
    inline-size: toRem(32);
    flex: 0 0 toRem(32);
    aspect-ratio: 1;
    color: $primaryColor;
  }
}

.bottom-footer {

  // .bottom-footer__box
  &__box {
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(10);
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(40);
    font-size: 20px;

    @media (max-width:$tablet) {
      font-size: toRem(18);
    }

    @media (max-width:$mobile) {
      font-size: toRem(16);
    }

    @media (max-width:$mobileSmall) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .bottom-footer__copyright
  &__copyright {
    line-height: 1.5;
    /* 30/20 */
  }

  // .bottom-footer__privacy
  &__privacy {}

  // .bottom-footer__term
  &__term {}
}